<div class="basic ui segment">
  <h2 class="ui header">Convention Over Configuration</h2>

  <ul>
    <li>Rails!</li>
    <li>Route -> Controller&nbsp;&nbsp;&nbsp;&nbsp; -> Template</li>
    <li>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      Component -> Template
    </li>
    <li><img src="/img/convention.png"/></li>
    <li>
      <pre><code>
        \{{really-cool-component}}
      </code></pre>
    </li>
  </ul>
</div>
