<div class="basic ui segment">
  <h2 class="ui header">Inspector</h2>
  <ul>
    <li>
      <a target="_blank" href="https://chrome.google.com/webstore/detail/ember-inspector/bmdblncegkenkacieihfhpjfppoconhi?hl=en">
        Chrome extenstion
      </a>
    </li>
    <li>
      <a target="_blank" href="https://github.com/emberjs/ember-inspector">
        GitHub
      </a>
    </li>
    <li>
      <a target="_blank" href="https://guides.emberjs.com/v3.0.0/ember-inspector/">
        Docs
      </a>
    </li>
  </ul>
</div>
