<div class="page-table-layout basic ui segment">
  <h2 class="ui header">Table Layout</h2>
  <table class="table-layout" border="1">
    <tr>
      <td>
        <img src="https://gridium.com/wp-content/themes/gridium/images/logo_gridium.svg"/></td>
      <td>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Applications</a></li>
          <li><a href="#">Resources</a></li>
        </ul>
      </td>
      <td></td>
    </tr>
    <tr>
      <td background="/img/Slice.jpg"></td>
      <td height=600 background="/img/Slice 2.jpg">
        <h1 align="center">Really gr8 #content!</h1>
      </td>
      <td background="/img/Slice 3.jpg"></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td>&copy; 2005 Gridium</td>
    </tr>
  </table>
</div>
