<div class="ui basic segment">
  <h1 class="ui header">Brown Bag Developer Discussions</h1>
  <h2 class="ui header">2018-04-06 - Front-end Development</h2>
  <img src="https://media.giphy.com/media/dylSPwJbKNChi/giphy.gif"/><br>
  <img src="https://media.giphy.com/media/6Bfnhb5jQqvny/giphy.gif" width="450"/>
</div>
